body {
    font-size: 150%;
    background-color: black;
    color: yellow;
    font-family: monospace;
}

a, a:visited {
    text-decoration: none;
    color: #198fff;
}

.wrapper {
    text-align: center;
}

.content {
    margin: 0 auto;
    display: inline-block;
}

.content .line {
    text-align: left;
}

nav {
    margin-bottom: 15px;
}

form {
    display: inline;
}

input[type=text] {
    text-align: center;
    border: none;
    background: black;
    color: yellow;
    font-family: monospace;
    font-size: 125%;
    padding: 5px;
}